@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FDFBF7] text-[#1a1a1a];
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}

@layer utilities {
  .prose first-letter {
    @apply text-7xl font-bold mr-3 float-left text-stone-900;
  }
}
